h1 {
    text-align: center;
    background-color: yellow;
}

#color-palette {
    text-align: center;
}

.color {
    display: inline-block;
    width: 50px;
    height: 50px;
    border: solid black 1px;
}

#pixel-board {
    width: 210px;
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
}

.pixel {
    display: inline-block;
    width: 40px;
    height: 40px;
    border: solid black 1px;
}

.line {
    height: 42px;
}


