h1 {
    text-align: center;
}

#color-palette {
    text-align: center;
}

.color {
    display: inline-block;
    width: 50px;
    height: 50px;
    border: solid black 1px;
}

#button-section {
    text-align: center;
    margin-top: 20px;
}

#pixel-board {
    width: fit-content;
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
}

.pixel {
    display: inline-block;
    width: 40px;
    height: 40px;
    border: solid black 1px;
}

.line {
    height: 42px;
    width: fit-content;
}


